{% extends "app/base.html" %}

{% block content %}

<h1>Delete Announcemenet</h1>

<form method='post' class="divisions-checkbox-form">
  {% csrf_token %}

  <h2>Are you sure you want to delete this announcement?</h2>
  <h3>Announcement</h3>

  <dl>
    <dt>event</dt>
    <dd>
      <a href="{% url 'details:event' event_id=announcement.id %}">
        {{ announcement.event.name }}
      </a>
    </dd>
    <dt>title</dt>
    <dd>{{ announcement.title }}</dd>
    <dt>body</dt>
    <dd>{{ announcement.body }}</dd>
  </dl>

  <button type="submit">Delete</button>

</form>

{% endblock %}
