{% extends "app/base.html" %}

{% block content %}

<h1>Manage Divisions</h1>

{% include "components/event_summary_card.html" %}


<form method='post' class="divisions-checkbox-form">
  <h2>Select divisions for this event<h2>
  {% csrf_token %}
  {% for gender in division_options.genders %}

  <fieldset class="divisions-checkbox-form__fieldset">
    <legend>{{ gender }}</legend>
    {% for division in division_options.divisions %}
      {% with key=gender|add:"-"|add:division %}
      <label
        {% if key in protected_keys %}
        style="background-color: rgb(100, 100, 255); border-radius: 3px;"
        {% endif %}
        >
            
          <input 
            type="checkbox"
            name="division[]"
            value="{{ key }}"
            {% if key in existing_keys %}
            checked
            {% endif %}
            {% if key in protected_keys %}
            disabled
            {% endif %}
            >
          {{ division }}
        </label>
        {% endwith %}
    {% endfor %}
  </fieldset>
  {% endfor %}
  <button type="submit">Save</button>

</form>

{% endblock %}
