{% extends "app/base.html" %}

{% block content %}

<section class="main-section">

  <h2>Event Announcement</h2>

  <div class="paragraph">
    <span class="paragraph__heading">Make An Announcement To All Event Participants</span>
    <hr>
    <p>
      this is a paragraph this is a paragraph this is a paragraph this is a paragraph this is a paragraph
    </p>
  </div>
  <form method="post" class="form">

    <h3>Make an announcement to all participants</h3>

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit" class="mt-2">Create Announcement</button>

  </form>

</section>

<section class="main-section">

  <h2>Event Details</h2>

  {% include "components/event_summary_card.html" %}

</section>

{% endblock %}
