{% extends "app/base.html" %}

{% block content %}
<section class="main-section">

  <h1>Image Update</h1>

  <div class="image-upload__container">
    <div class="image-upload__img-box">
      <img src="{{ current }}" class="img">
    </div>
  </div>

  <form method="post" enctype="multipart/form-data" class="form">

    <div class="paragraph mb-2">
      <span class="paragraph__heading">Select An Image To Upload</span>
      <hr>
      <p>
        Replace you current {{ target }} photo with this form.
      </p>
    </div>

    {% csrf_token %}

    <div id="file-name" class="file-name">
      No file selected
    </div>

    <table class="form-as-table">
      <tr>
        <th>Avatar:</th>

        <td>
          <label for="id_avatar" class="upload-btn ml-1">
            Select File
            <img src="/assets/icons/upload.svg" class="inline-icon dark-invert">
          </label>
          <input id="id_avatar" type="file" name="avatar" accept="image/*">
        </td>

      </tr>
    </table>

    <button type="submit">Save</button>

  <form>

</section>

{% endblock %}

{% block scripts %}
<script>
const input = document.getElementById("id_avatar");
const fileName = document.getElementById("file-name");

input.addEventListener("change", function () {
  fileName.textContent = this.files.length
    ? this.files[0].name
    : "No file selected";
});
</script>
{% endblock %}
