{% extends "app/base.html" %}


{% block content %}
<img src="{{ event.get_poster_url }}" class="event-poster">

<h2>{{ event.name }}</h2>
<a href="{% url 'details:event' event_id=event.id %}">View</a>
<ul>
  <li>
    {{ event.city }}
  </li>
  <li>
    {{ event.state}}
  </li>
  <li>
    {{ event.sport }}
  </li>
</ul>


<h3>Available Divisions</h3>
  <table class="info-list-table">
    <thead>
      <tr>
        <th>Gender</th>
        <th>Division</th>
      </tr>
    </thead>
    <tbody>

    {% for division in event.divisions.all %}
      <tr>
        <td>{{ division.gender }}</td>
        <td>{{ division.name }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% for reg in regs %}
    {{ reg }}
  {% endfor %}

<h2>Register Your Teams</h2>
<a href="{% url 'app:team_create' %}?next={{ request.path }}">Create Teams</a></br>
<form method="post">
    {% csrf_token %}
  <table class="info-list-table">
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Gender</th>
        <th>Division</th>
        <th>Sport</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
    {% for team in teams %}
    {% with key=team.gender|add:"-"|add:team.division %}
      <tr>
        <td>{{ team.name }}</td>
        <td>{{ team.gender }}</td>
        <td>{{ team.division }}</td>
        <td>{{ team.sport }}</td>
        <td>
          {% if team.id in registered_team_ids %}
            check mark
          {% else %}
            {% if key in available_division_keys %}
              <input type="checkbox" name="team{{ team.id }}"></input>
            {% else %}
              Nope
              <input type="checkbox" name="team{{ team.id }}" disabled></input>
            {% endif %}
          {% endif %}
        </td>
      </tr>
      {% endwith %}
    {% endfor %}

    </tbody>
  </table>
  <button type=submit>Register Teams</button>
</form>


{% endblock %}
