{% extends "app/base.html" %}


{% block content %}


<h1>Register Your Teams</h1>
{% include "components/event_summary_card.html" %}

<h2>Available Divisions</h2>
  <table class="info-list-table">
    <thead>
      <tr>
        <th>Gender</th>
        <th>Division</th>
      </tr>
    </thead>
    <tbody>

    {% for division in event.divisions.all %}
      <tr>
        <td>{{ division.gender }}</td>
        <td>{{ division.name }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% for reg in regs %}
    {{ reg }}
  {% endfor %}



<h2>Select Teams</h2>

<a href="{% url 'app:team_create' %}?next={{ request.path }}">Create Team</a></br>

<form method="post">

  <h3>Register</h3>
  {% csrf_token %}
  <table class="info-list-table">
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Gender</th>
        <th>Division</th>
        <th>Sport</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
    {% for team in teams %}
    {% with key=team.gender|add:"-"|add:team.division %}
      <tr>
        <td>{{ team.name }}</td>
        <td>{{ team.gender }}</td>
        <td>{{ team.division }}</td>
        <td>{{ team.sport }}</td>
        <td>
          {% if team.id in registered_team_ids %}
            check mark
          {% else %}
            {% if key in available_division_keys %}
              <input type="checkbox" name="team{{ team.id }}"></input>
            {% else %}
              Unavailable
            {% endif %}
          {% endif %}
        </td>
      </tr>
      {% endwith %}
    {% endfor %}

    </tbody>
  </table>
  <button type=submit>Register Teams</button>
</form>


{% endblock %}
