<div>
  <div style="display: flex; flex-direction: row;" class="bordered p-1">

    <div class="img-poster__container-small">
      <img src="{{ event.get_poster_url }}" class="img-fill">
    </div>

    <div class="ml-2 pl-2">
      <h3>
        <a href="{% url 'explore:event' event_id=event.id %}" class="inline-icon__link mr-1">
          <img src="/assets/icons/magnifying-glass.svg" class="inline-icon dark-invert">
        </a>
        {{ event.name }}
      </h3>
      <dl>
        <dt>Starts</dt><dd>{{ event.start_date }}</dd>
        <dt>Ends</dt><dd>{{ event.end_date }}</dd>
        <dt>Status</dt><dd>{{ event.get_status_display }}
    </div>


  </div>

</div>
