<div>
  <h1>{{ event.name }}</h1>
    <div style="display: flex; flex-direction: row; justify-content: space-around; margin: 1rem;">

      <div class="img-poster__container-full"
        <img src="{{ event.get_poster_url }}" class="event-poster-thumbnail">
      </div>

      <div>
        <h3>Info</h3>
        <dl>
          <dt>Name</dt><dd>'{{ event.name }}'</dd>
          <dt>Sport</dt><dd>{{ event.sport }}</dd>
          <dt>Starts</dt><dd>{{ event.start_date }}</dd>
          <dt>Ends</dt><dd>{{ event.end_date }}</dd>
          <dt>Status</dt><dd>{{ event.status }}</dd>
        </dl>
      </div>

    </div>

    <div style="margin: 1rem;">

      <h3>Event address<h3>
      <dl>
        <dt>Address</dt><dd>{{ event.address }}</dd>
        <dt>City</dt><dd>{{ event.city }}</dd>
        <dt>State</dt><dd>{{ event.state}}</dd>
      </dl>

    </div>

    <div style="margin: 1rem;">
      <h3>Contact info<h3>
      <dl>
        <dt>Host</dt><dd><a href="{% url 'explore:profile' event.owner.profile.id %}">{{ event.owner.profile }}</a></dd>
        <dt>Email</dt><dd>{{ event.owner.profile.email }}</dd>
        <dt>Phone</dt><dd>{{ event.owner.profile.phone }}</dd>
      </dl>
    </div>

    {% with event.id|stringformat:"s" as id_str %}
      {% if request.path != "/details/event/"|add:id_str|add:"/" %}
        <div style="margin: 1rem;">
          <a href="{% url 'explore:event' event_id=event.id %}">View Event</a>
        </div>
      {% endif %}
    {% endwith %}
  </div>
</div>
