<div>
  <h3>
    {{ event.name }}
      <a href="{% url 'explore:event' event_id=event.id %}" class="inline-icon__link">
        <img src="/assets/icons/magnifying-glass.svg" class="inline-icon dark-invert">
      </a>
  </h3>
  <div class="event-details-card__content">

    <div style="display: flex; flex-direction: row; justify-content: space-around; margin-bottom: 1rem;">

      <div class="img-poster__container-medium">
        <img src="{{ event.get_poster_url }}" class="img-fill">
      </div>

      <div>
        <h2>Info</h2>
        <dl>
          <dt>Name</dt><dd>{{ event.name }}</dd>
          <dt>Sport</dt><dd>{{ event.get_sport_display }}</dd>
          <dt>Starts</dt><dd>{{ event.start_date }}</dd>
          <dt>Ends</dt><dd>{{ event.end_date }}</dd>
          <dt>Host</dt><dd><a href="{% url 'explore:profile' event.owner.profile.id %}">{{ event.owner.profile }}</a></dd>
          <dt>Status</dt><dd>{{ event.get_status_display }}</dd>
        </dl>
      </div>

    </div>

  </div>
</div>
