<div class="bordered p-2">

  <div class="row mb-2">

    <div class="img-poster__container-small">
      <img src="{{ registration.event.get_poster_url }}" class="img-fill">
    </div>

    <dl>
      <dt>Event Name</dt>
      <dd>
        {{ registration.event.name }}
        <a href="{% url 'explore:event' event_id=registration.event.id %}" class="inline-icon__link">
          <img src="/assets/icons/magnifying-glass.svg" class="inline-icon dark-invert">
        </a>
      </dd>

      <dt>Start</dt><dd>
        {{ registration.event.start_date }}
      </dd>
      <dt>Status</dt><dd>
        {{ registration.event.status }}
      </dd>
    </dl>

  </div>

</div>

