<div class="bordered p-2">

  <div class="row mb-2">

    <div class="img-poster__container-small">
      <img src="{{ item.registration.event.get_poster_url }}" class="img-fill">
    </div>

    <dl>
      <dt>Event Name</dt>
      <dd>
        {{ item.registration.event.name }}
        <a href="{% url 'explore:team' team_id=item.team.id %}" class="inline-icon__link">
          <img src="/assets/icons/magnifying-glass.svg" class="inline-icon dark-invert">
        </a>
      </dd>

      <dt>Start</dt>
      <dd>{{ item.registration.event.start_date }}</dd>
      <dt>Status</dt>
      <dd>{{ item.registration.event.status }}</dd>
    </dl>

  </div>

  <div class="row">

    <div class="img-poster__container-small">
      <img src="{{ item.team.get_photo_url }}" class="img-fill">
    </div>

      <dl>
      <dt>Team Name</dt>
      <dd>
        {{ item.team.name }}
        <a href="{% url 'explore:team' team_id=item.team.id %}" class="inline-icon__link">
          <img src="/assets/icons/magnifying-glass.svg" class="inline-icon dark-invert">
        </a>
      </dd>

      <dt>Division</dt><dd>{{ item.division.get_name_display }}</dd>
      <dt>Gender</dt><dd>{{  item.division.get_gender_display }}</dd>
    </dl>

  </div>

</div>

