<div class="event-details-card">

  <div class="event-details-card__content">

    <div style="display: flex; flex-direction: row; justify-content: space-around; margin-bottom: 1rem;">

      <div>
        <h2>Event Registration for</h2>
      </div>

    </div>



  <table class="info-list-table">

    <tr>
      <th>
        Host
      </th>
      <td>
        <a href="{% url 'details:profile' registration.event.owner.profile.id %}">
            {{ registration.event.owner.profile.name }}
          </a>
      </td>
    </tr>

    <tr>
      <th>Host Email</th>
      <td>email@fake.com</td>
    </tr>

    <tr>
      <th>Host Phone</th>
      <td>555-123-1234</td>
    </tr>

    <tr>
      <th>Event Name</th>
      <td>{{ registration.event.name }}</td>
    </tr>

    <tr>
      <th>Event Sport</th>
      <td>{{ registration.event.sport }}</td>
    </tr>

    <tr>
      <th>Event Starts</th>
      <td>{{ registration.event.start_date }}</td>
    </tr>

    </tr>
      <th>Event Ends</th>
      <td>{{ registration.event.end_date }}</td>
    </tr>

    </tr>
      <th>Event Status</th>
      <td>{{ registration.event.status }}</td>
    </tr>

    <tr>
      <th>Event Address</th>
      <td>{{ registration.event.address }}</td>
    </tr>

    <tr>
      <th>Event City</th>
      <td>{{ registration.event.city }}</td>
    </tr>

    <tr>
      <th>Event State</th>
      <td>{{ registration.event.state }}</td>
    </tr>

    <tr>
    </tr>
    <tr>
      <th>Team Name</th>
      <td>{{ registration.team.name}}</td>
    </tr>

    <tr>
      <th>Team Sport</th>
      <td>{{ registration.team.sport }}</td>
    </tr>

    <tr>
      <th>Team Gender</th>
      <td>{{ registration.team.gender }}</td>
    </tr>

    <tr>
      <th>Team Division</th>
      <td>{{ registration.team.division }}</td>
    </tr>

    <tr>
      <th>Team Contact Name</th>
      <td>{{ registration.team.owner.profile.name }}</td>
    </tr>

    <tr>
      <th>Team Contact Email</th>
      <td>{{ registration.team.owner.profile.email }}</td>
    </tr>

    <tr>
      <th>Team Contact Phone</th>
      <td>{{ registration.team.owner.profile.email }}</td>
    </tr>


  </table>
  </div>

</div>
