<table class="item-table">

  <tbody>
    <tr>
      <th>Event</th>
      <td>
        {{registration.event.name}}
        <a href="{% url "explore:event" event_id=registration.event.id %}" class="inline-icon__link">
              <img src="/assets/icons/magnifying-glass.svg" class="inline-icon">
        </a>
      </td>
    </tr>
    <tr>
      <th>Host</th>
      <td>
        {{registration.event.owner.profile.get_full_name }}
        <a href="{% url "explore:profile" profile_id=registration.event.owner.profile.id %}" class="inline-icon__link">
          <img src="/assets/icons/magnifying-glass.svg" class="inline-icon">
        </a>
      </td>
    </tr>
      {% for item in registration.items.all %}
    <tr>
      <th>Team</th>
      <td>
        {{ item.team.name}} - {{ item.division.name}} {{ item.division.gender }}
        <a href="{% url "play:registration_item" registration_item_id=item.id %}" class="inline-icon__link">
          <img src="/assets/icons/magnifying-glass.svg" class="inline-icon">
        </a>
      </td>
    </tr>
      {% endfor %}
  </tbody>

</table>
