<div>
  <div style="display: flex; flex-direction: row; justify-content: space-around; margin-bottom: 1rem;">

    <div class="img-team-photo__container-medium"
      <img src="{{ team.get_photo_url }}" class="img-fill">
    </div>

    <div>
      <h2>Info</h2>
      <dl>
        <dt>Name</dt>

        <dd>
          <strong>{{ team.name }}</strong>
          <a href="{% url 'explore:team' team_id=team.id %}" class="inline-icon__link">
            <img src="/assets/icons/magnifying-glass.svg" class="inline-icon"><a></td>
          </a>
        </dd>

        <dt>Sport</dt><dd>{{ team.sport }}</dd>
        <dt>Gender</dt><dd>{{ team.gender }}</dd>
        <dt>Division</dt><dd>{{ team.division }}</dd>
      </dl>
    </div>

  </div>

</div>
