<div class="event-details-card">
  <div class="event-details-card__content">

    <div style="display: flex; flex-direction: row; justify-content: space-around; margin-bottom: 1rem;">

      <div class="event-poster-thumbnail__container"
        <img src="{{ team.get_photo_url }}" class="event-poster-thumbnail">
      </div>

      <div>
        <h2>Info</h2>
        <dl>
          <dt>Name</dt><dd>'{{ team.name }}'</dd>
          <dt>Sport</dt><dd>{{ team.sport }}</dd>
          <dt>Gender</dt><dd>{{ team.gender }}</dd>
          <dt>Division</dt><dd>{{ team.division }}</dd>
        </dl>
      </div>

    </div>

        <div style="margin: 1rem;">
          <a href="{% url 'details:team' team_id=team.id %}">View Team</a>
        </div>
  </div>
</div>
