<div style="display: flex; flex-direction: row; justify-content: space-around;"> 

  <div class="img-team-photo__container-full"
    <img src="{{ team.get_photo_url }}" class="img-fill">
  </div>

  <div>
    <h2>Info</h2>
    <dl>
      <dt>Name</dt><dd>'{{ team.name }}'</dd>
      <dt>Sport</dt><dd>{{ team.get_sport_display }}</dd>
      <dt>Gender</dt><dd>{{ team.get_gender_display }}</dd>
      <dt>Division</dt><dd>{{ team.get_division_display }}</dd>
    </dl>

  <dl>
    <dt>Contact</dt>
    <dd>
      <a href="{% url 'explore:profile' profile_id=team.owner.profile.id %}">
        {{ team.owner.profile.name }}
      </a>
    </dd>
    <dt>Email</dt><dd>{{ team.owner.profile.email}}</dd>
    <dt>Phone</dt><dd>{{ team.owner.profile.phone }}</dd>
  </dl>
  </div>

</div>
