{% extends "user/base.html" %}

{% block content %}

<h1>My Events</h1>

<div class="content-container">
  <h2>Event I'm In</h1>

  <table class="info-list-table">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Host</th>
        <th>My Team</th>
        <th>Divisions</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for registration in registrations.all %}
      <tr>
        <td>
            {{ registration.event.name }}
        </td>
        <td>
            {{ registration.event.owner}}
        </td>
        <td>
            {{ registration.team.name }}
        </td>
        <td>
          {{ registration.team.division}}
          {{ registration.team.gender}}
        </td>
        <td>
          <a href="{% url "user:registration_details" registration_id=registration.id %}">
              <img src="/assets/icons/magnifying-glass.svg" class="inline-icon"><a></td>
            </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
