{% extends "user/base.html" %}

{% block content %}
<p> This is the you events page..</p>
<table class="info-list-table">
  <thead>
    <tr>
      <th>Event Name</th>
      <th>Host</th>
      <th>My Team</th>
      <th>Divisions</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    {% for registration in registrations.all %}
    <tr>
      <td>
        <a href="#">
          {{ registration.event.name }}
        </a>
      </td>
      <td>
        <a href="#">
          {{ registration.event.owner}}
        </a>
      </td>
      <td>
        <a href="#">
          {{ registration.team.name }}
        </a>
      </td>
      <td>
        {{ registration.team.division}}
        {{ registration.team.gender}}
      </td>
      <td>
        <a href="{% url "user:registration_details" registration_id=registration.id %}">View</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
