{% extends "user/base.html" %}

{% block content %}
<p>Event Details.</p>
<h1>Visibility: {{ event.public }}</h1>
<h1>Status: {{ event.status }}</h1>

<div class="profile-image-container">
  <p>placeholder</p>
</div>

<a href="#">Add Event Poster</a>

<ul>
  <li>
    {{ event.name }}
  </li>
  <li>
    {{ event.city }}
  </li>
  <li>
    {{ event.state}}
  </li>
  <li>
    {{ event.sport }}
  </li>
  <li>
    {{ event.public }}
  </li>
</ul>

<h2>Divisions</h2>

<table class="info-list-table">
  <thead>
    <tr>
      <th>Gender</th>
      <th>Division</th>
      <th>Entries</th>
    </tr>
  </thead>
  <tbody>
  {% for division in event.divisions.all %}
    <tr>
      <td>{{ division.gender }}</td>
      <td>{{ division.name }}</td>
      <td>{{ division.reg_count }}</td>
    </tr>
  {% endfor %}

  </tbody>
</table>
<a href="{% url 'user:event_divisions' event_id=event.id %}">edit division options</a>
<h2>Participants</h2>

<table class="info-list-table">
  <thead>
    <tr>
      <th>Team Name</th>
      <th>Gender</th>
      <th>Division</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>

  {% for registration in registrations %}
    <tr>
      <td>{{ registration.team.name }}</td>
      <td>{{ registration.team.gender }}</td>
      <td>{{ registration.team.division }}</td>
      <td><a href="{% url 'details:team' team_id=registration.team.id %}">view</a></td>
    </tr>
  {% endfor %}


  </tbody>
</table>

<a href="#">Cancel this event</a>

{% endblock %}
