{% extends "user/base.html" %}

{% block content %}
<p>Events you have hosted.</p>
<a href="{% url 'user:participants' %}">Participants</a>
<br>
<a href="{% url 'create:events' %}">Create Event</a>

<table class="info-list-table">
  <thead>
    <tr>
      <th>Event Name</th>
      <th>City</th>
      <th>State</th>
      <th>Sport</th>
      <th>Status</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    {% for event in events.all %}
      <tr>
        <td>{{ event.name }}</td>
        <td>{{ event.city }}</td>
        <td>{{ event.state }}</td>
        <td>{{ event.sport }}</td>
        <td>{{ event.status }}</td>
        <td><a href="{% url "user:event_details" event_id=event.id %}">View</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
