{% extends "user/base.html" %}

{% block content %}

<h1>Invitations</h1>

{% include 'components/event_summary_card.html' %}

<div class="action-link__container">
  <a href="{% url 'user:hosting_event_invite' event_id=event.id %}" class="action-link">View Sharable Invitation</a>
  <a href="{% url 'user:hosting_event_embed' event_id=event.id %}" class="action-link">Embed</a>
</div>

<div class="content-container">
  <h2>RSVPs</h2>

  <table class="info-list-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Teams</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    {% for rsvp in event.rsvps.all %}
      <tr>
        <td>{{ rsvp.first_name }} {{ rsvp.last_name }}</td>
        <td>{{ rsvp.email}}</td>
        <td>{{ rsvp.phone}}</td>
        <td>{{ rsvp.divisions.count }}</td>
        <td><a href="{% url 'app:rsvp_convert' rsvp_id=rsvp.id %}"><img src="/assets/icons/magnifying-glass.svg" class="inline-icon"></a></td>
      </tr>
    {% endfor %}
    </tbody>

  </table>
</div>

{% endblock %}
