{% extends "user/base.html" %}

{% block content %}

<h2>Hosting</h2>
<h3>Events I've Created</h3>

<a href="{% url 'app:event_create' %}">Create Event</a>

<table class="info-list-table">
  <thead>
    <tr>
      <th>Event Name</th>
      <th>City</th>
      <th>State</th>
      <th>Sport</th>
      <th>Status</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    {% for event in events.all %}
      <tr>
        <td>{{ event.name }}</td>
        <td>{{ event.city }}</td>
        <td>{{ event.state }}</td>
        <td>{{ event.sport }}</td>
        <td>{{ event.status }}</td>
        <td><a href="{% url "user:hosting_event" event_id=event.id %}">View</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
