{% extends "user/base.html" %}

{% block content %}

<section class="main-section">

  <h1>Manage Division</h1>
  <dl>
    <dt>Event</dt><dd>{{ division.event.name }}</dd>
    <dt>Event start</dt><dd>{{ division.event.start_date }}</dd>
    <dt>Division</dt><dd><strong>{{ division.name }} {{ division.gender }}</strong></dd>
  </dl>

  <h2>Registrations</h2>
  
  <table class="item-table">
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Contact Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Action</th>

      </tr>
    </thead>
    <tbody>
      {% for registration in division.registrations.all %}
      <tr>
        {% if registration.team %}
        <td>
            {{ registration.team.name }}
          <a href="{% url 'details:team' team_id=registration.team.id %}" class="inline-icon__link">
            <img src="/assets/icons/magnifying-glass.svg" class="inline-icon"><a></td>
          </a>
        </td>
        {% else %}
        <td>TBA</td>
        {% endif %}
        <td>{{ registration.contact_name}}</td>
        <td>{{ registration.email}}</td>
        <td>{{ registration.phone}}</td>
        <td><a href="{% url 'app:participant_edit' registration_id=registration.id %}">Cancel</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</section>

  {% include "components/event_summary_card.html" with event=division.event%}

<section class="main-section danger-section">

<div class="action-link__container">
  <a href="" class="action-link">Delete Division</a>
</div>
</section>

{% endblock %}
