{% extends "user/base.html" %}

{% block content %}
<h2>Manage Participants.</h2>
{{ event.name }}


<table class="info-list-table">
  <thead>
    <tr>
      <th>Contact</th>
      <th>Event</th>
      <th>Attended</th>
      <th>Invoice</th>
      <th>Paid</th>
      <th>Cancelled</th>
      <th>Edit</th>

    </tr>
  </thead>
  <tbody>
    {% for registration in event.registrations.all %}
    <tr>
      <td>{{ registration.team.name }}</td>
      <td>Summer Tournament</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="{% url 'app:participant_edit' registration_id=registration.id %}">edit</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
