{% extends "user/base.html" %}

{% block content %}

<h1>Event</h1>

<ul class="nav-list">
  <li><a href="{% url 'details:event' event_id=event.id %}">View</a></li>
  <li><a href="{% url 'app:event_delete' event_id=event.id %}">Cancel Event</a></li>
  <li><a href="{% url 'app:event_announcement' event_id=event.id %}">Create Announcement</a></li>
  <li><a href="{% url 'rsvp:event' event_id=event.id %}">Create RSVP</a></li>
</ul>

<h2>Name: '{{ event.name }}'</h2>

<ul class="nav-list">
  <li><a href="{% url 'app:event_poster_update' event_id=event.id %}">Change Poster</a></li>
  <li><a href="{% url 'app:event_poster_delete' event_id=event.id %}">Delete Poster</a></li>
</ul>

<div class="event-poster__container">
  <img src="{{ event.get_poster_url }}" class="event-poster">
</div>

<h2>Info</h2>
<ul class="nav-list">
  <li><a href="{% url 'app:event_update' event_id=event.id %}">Update Info</a></li>
  <li><a href="{% url 'app:event_status' event_id=event.id %}">Change Visibility</a></li>
</ul>
<dl>
  <dt>Sport</dt><dd>{{ event.sport }}</dd>
  <dt>City</dt><dd>{{ event.city }}</dd>
  <dt>State</dt><dd>{{ event.state}}</dd>
  <dt>Visibility</dt><dd>{{ event.public }}</dd>
  <dt>Status:</dt><dd>{{ event.status }}</dd>
</dl>

<h2>Divisions</h2>
<a href="{% url 'app:event_divisions' event_id=event.id %}">Add/Remove Division</a>
<table class="info-list-table">
  <thead>
    <tr>
      <th>Gender</th>
      <th>Division</th>
      <th>Entries</th>
    </tr>
  </thead>
  <tbody>
  {% for division in event.divisions.all %}
    <tr>
      <td>{{ division.gender }}</td>
      <td>{{ division.name }}</td>
      <td>{{ division.reg_count }}</td>
    </tr>
  {% endfor %}

  </tbody>
</table>
<h2>Participants</h2>
<a href="{% url 'user:hosting_participants' event_id=event.id %}">View Participant Status</a>
<table class="info-list-table">
  <thead>
    <tr>
      <th>Team Name</th>
      <th>Gender</th>
      <th>Division</th>
      <th>Profile</th>
    </tr>
  </thead>
  <tbody>

  {% for registration in registrations %}
    <tr>
      <td>{{ registration.team.name }}</td>
      <td>{{ registration.team.gender }}</td>
      <td>{{ registration.team.division }}</td>
      <td><a href="{% url 'details:team' team_id=registration.team.id %}">view</a></td>
    </tr>
  {% endfor %}


  </tbody>
</table>

{% endblock %}
