{% extends "user/base.html" %}

{% block content %}

<section class="main-section">

  <h1 class="mb-2">My Profile 
    <a href="{% url 'details:profile' profile_id=user.profile.id%}" class="inline-icon__link">
      <img src="/assets/icons/magnifying-glass.svg" class="inline-icon dark-invert">
    </a>
  </h1>


  <ul class="action-link__container">
    <li><a href="{% url 'app:profile_avatar_update' %}" class="action-link">Update</a></li>
    <li><a href="{% url 'app:profile_avatar_delete' %}" class="action-link">Delete</a></li>
  </ul>

  <div class="img-profile__container-full">
    <img src="{{ user.profile.get_avatar_url }}" class="img">
  </div>

</section>

<section class="main-section">
  <h2>Contact Information</h2>


  <dl>
    <dt>First Name</dt><dd>{{ user.profile.first_name }}</dd>
    <dt>Last Name</dt><dd>{{ user.profile.last_name}}</dd>
    <dt>Email</dt><dd>{{ user.profile.email }}</dd>
    <dt>Phone number</dt><dd>{{ user.profile.phone }}</dd>
  </dl>

  <ul class="action-link__container">
    <li><a href="{% url 'app:profile_update' %}" class="action-link">Update</a></li>
  </ul>

  <div class="paragraph mt-2">
    <span class="paragraph__heading">About Public Info</span>
    <hr>
    <p>
      Nothing
    </p>
  </div>

</section>

{% endblock %}
