{% extends "user/base.html" %}

{% block content %}
<p> This is the your profile.</p>

<div class="profile-image-container">
  <p>placeholder</p>
</div>
<a href="#">change</a>
<a href="#">remove</a>


<table class='contact-info-table'>
  <tr>
    <th>Name</th>
    <td>Jane Doe</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>jane.doe@example.com</td>
  </tr>
  <tr>
    <th>Location</th>
    <td>United States</td>
  </tr>
  <tr>
    <th>City</th>
    <td>New York</td>
  </tr>
  <tr>
    <th>ZIP</th>
    <td>10001</td>
  </tr>
</table>
<a href="#">edit</a>
{% endblock %}
