{% extends "user/base.html" %}

{% block content %}

<section class="main-section">
  <h1>My Teams</h1>

    <div class="paragraph">
    <span class="paragraph__heading">Teams You've Created</span>
    <hr>
    <p>
      this is a paragraph
      this is a paragraph
      this is a paragraph
      this is a paragraph
    </p>
  </div>

  <div class="action-link__container mb-1">
    <a href="{% url 'app:team_create' %}" class="action-link">Create Teams</a>
  </div>


    <table class="item-table">
      <thead>
        <tr>
          <th>Team Name</th>
          <th>Gender</th>
          <th>Division</th>
          <th>Sport</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for team in teams %}
        <tr>
          <td>{{ team.name }}</td>
          <td>{{ team.gender }}</td>
          <td>{{ team.division }}</td>
          <td>{{ team.sport }}</td>
          <td><a href="{% url 'user:team_details' team_id=team.id %}" class="inline-icon__link">
                <img src="/assets/icons/magnifying-glass.svg" class="inline-icon">
                <a>
          </td>
            </a></td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
  </div>
</section>
{% endblock %}
