{% extends "user/base.html" %}

{% block content %}
<h2>Teams Details</h2>
<h3>{{ team.name }}</h3>
<a href="{% url 'app:team_update' team_id=team.id %}">Update Team</a><br>
<a href="{% url 'app:team_delete' team_id=team.id %}">Delete Team</a>


<div class="profile-image-container">
  <img src="{{ team.get_photo_url }}" class="thumbnail">
</div>

<a href="{% url 'app:team_photo_update' team_id=team.id%}">Change Photo</a><br>
<a href="{% url 'app:team_photo_delete' team_id=team.id%}">Delete Photo</a>

<ul>
  <li>
    {{ team.name }}
  </li>
  <li>
    {{ team.gender }}
  </li>
  <li>
    {{ team.division }}
  </li>
  <li>
    {{ team.sport }}
  </li>
</ul>

<h2>Upcoming Events </h2>

<table class="info-list-table">
  <thead>
    <tr>
      <th>Event Name</th>
      <th>Host</th>
      <th>My Team</th>
      <th>City</th>
      <th>State</th>
      <th>ZIP</th>
    </tr>
  </thead>
  <tbody>
    {% for registration in registrations %}
    <tr>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="#">Past Events</a>
<a href="#">Pending Actions</a>

{% endblock %}

