{% extends "user/base.html" %}

{% block content %}

<p> This is the your teams page.</p>

<a href="{% url 'create:teams' %}">Create Teams</a>

<table class="info-list-table">
  <thead>
    <tr>
      <th>Team Name</th>
      <th>Gender</th>
      <th>Division</th>
      <th>Sport</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for team in teams %}
    <tr>
      <td>{{ team.name }}</td>
      <td>{{ team.gender }}</td>
      <td>{{ team.division }}</td>
      <td>{{ team.sport }}</td>
      <td><a href="{% url 'user:team_details' team_id=team.id %}">view</a></td>
    </tr>
  {% endfor %}

  </tbody>
</table>

{% endblock %}
