{% extends "user/base.html" %}

{% block content %}

<h1>My Teams</h1>

<div class="action-link__container">
  <a href="{% url 'app:team_create' %}" class="action-link">Create Teams</a>
</div>

<div class="content-container">
  <h2>Teams I've Created</h2>

  <table class="info-list-table">
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Gender</th>
        <th>Division</th>
        <th>Sport</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for team in teams %}
      <tr>
        <td>{{ team.name }}</td>
        <td>{{ team.gender }}</td>
        <td>{{ team.division }}</td>
        <td>{{ team.sport }}</td>
        <td><a href="{% url 'user:team_details' team_id=team.id %}">view</a></td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
</div>

{% endblock %}
