{% extends "explore/base.html" %}

{% block content %}
<section class="main-section"> 
  <h1>Event Details</h1>

  <div class="action-link__container">
    <a href="{% url 'play:register_for_event' event_id=event.id %}" class="action-link">Join</a>
  </div>

  {% include "components/event_details_card.html" %}

</section>

<section class="main-section"> 

  <h2>Divisions</h2>

  <table class="item-table">
    <thead>
      <tr>
        <th>Gender</th>
        <th>Division</th>
        <th>Teams</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for division in event.divisions.all %}
      <tr>
        <td>{{ division.gender }}</td>
        <td>{{ division.name }}</td>
        <td>{{ division.items.count }}</td>
        <td>
          <a href="{% url 'explore:division' division_id=division.id %}" class="inline-icon__link">
            <img src="/assets/icons/magnifying-glass.svg" class="inline-icon dark-invert">
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <div class="action-link__container mt-2">
    <a href="{% url 'play:team_create' %}?next={{ request.path }}" class="action-link">Create A Team</a></br>
  </div>

</section>
{% endblock %}
