{% extends "explore/base.html" %}

{% block content %}
<section class="main-section"> 
  {% include "components/event_details_card.html" %}

</section>

<section class="main-section"> 
  <h2>Join<h2>

<div class="paragraph mb-2">
    <span class="paragraph__heading">Register Your Teams</span>
    <hr>
    <p>
      Click <strong>Join</strong> to go to the registration page. There you can select your divisions to add teams.
      If you haven't created any teams yet don't worry. You can do that as we go.
    </p>

  <ul class="action-link__container">
    <li>
      <a
        href="{% url 'play:register_for_event' event_id=event.id %}"
        class="action-link"
        >
        Join
      </a>
    </li>
  </ul>

  </div>

</section>

<section class="main-section"> 

  <h2>Divisions</h2>

  <table class="item-table">
    <thead>
      <tr>
        <th>Gender</th>
        <th>Division</th>
        <th>Teams</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for division in event.divisions.all %}
      <tr>
        <td>{{ division.gender }}</td>
        <td>{{ division.name }}</td>
        <td>{{ division.items.count }}</td>
        <td>${{ division.unit_price|default:'0.00' }}</td>
        <td>
          <a href="{% url 'explore:division' division_id=division.id %}" class="inline-icon__link">
            <img src="/assets/icons/magnifying-glass.svg" class="inline-icon dark-invert">
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

</section>
{% endblock %}
