{% extends "explore/base.html" %}

{% block content %}
<section class="main-section"> 
  <h1>{{ profile.name }}</h1>

  <div class="img-profile__container-full">
    <img src="{{ profile.get_avatar_url }}" class="img">
  </div>
</section> 

<section class="main-section"> 
    <h2>Contact</h2>
    <dl>
        <dt>First Name</dt>
        <dd>{{ user.profile.first_name }}</dd>
        <dt>Last Name</dt>
        <dd>{{ user.profile.last_name}}</dd>
        <dt>Email</dt>
        <dd>{{ user.profile.email }}</dd>
        <dt>Phone number</dt>
        <dd>{{ user.profile.phone }}</dd>
    </dl>

    <div class="action-link__container">
      <a href="{% url 'mailbox:conversation' user_id=profile.user.id %}" class="action-link">Direct Message</a></li>
    </div>


</section> 

<section class="main-section"> 
    <h2>Hosted Events</h2>

    <table class="item-table">
      <thead>
        <tr>
          <th>Event Name</th>
          <th>Sport</th>
          <th>City</th>
          <th>State</th>
          <th>Start Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for event in profile.user.events.all %}
        <tr>

          <td>{{ event.name }}</td>
          <td>{{ event.sport }}</td>
          <td>{{ event.city }}</td>
          <td>{{ event.state }}</td>
          <td>{{ event.start_date}}</td>

          <td>
            <a href="{% url 'explore:event' event_id=event.id %}" class="inline-icon__link">
              <img src="/assets/icons/magnifying-glass.svg" class="inline-icon">
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

</section> 

<section class="main-section"> 

    <h2>Teams</h2>

    <table class="item-table">

      <thead>
        <tr>
          <th>Team Name</th>
          <th>Sport</th>
          <th>Division</th>
          <th>Gender</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {% for team in profile.user.teams.all %}
        <tr>

          <td>{{ team.name }}</td>
          <td>{{ team.sport }}</td>
          <td>{{ team.division }}</td>
          <td>{{ team.gender }}</td>

          <td>
            <a href="{% url 'explore:team' team_id=team.id %}" class="inline-icon__link">
              <img src="/assets/icons/magnifying-glass.svg" class="inline-icon">
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>

    </table>

</section>

{% endblock content %}
