{% extends "explore/base.html" %}

{% block content %}

<section class="main-section"> 

  <h1>{{ profile.get_full_name }}</h1>

  {% include 'components/profile_details_card.html' %}

</section> 

<section class="main-section"> 
    <h2>Hosted Events</h2>

    <table class="item-table">
      <thead>
        <tr>
          <th>Event Name</th>
          <th>Sport</th>
          <th>City</th>
          <th>State</th>
          <th>Start Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for event in profile.user.events.all %}
        <tr>

          <td>{{ event.name }}</td>
          <td>{{ event.get_sport_display }}</td>
          <td>{{ event.get_city_display }}</td>
          <td>{{ event.get_state_display }}</td>
          <td>{{ event.start_date}}</td>

          <td>
            <a href="{% url 'explore:event' event_id=event.id %}" class="inline-icon__link">
              <img src="/assets/icons/magnifying-glass.svg" class="inline-icon">
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

</section> 

<section class="main-section"> 

    <h2>Teams</h2>

    <table class="item-table">

      <thead>
        <tr>
          <th>Team Name</th>
          <th>Sport</th>
          <th>Division</th>
          <th>Gender</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {% for team in profile.user.teams.all %}
        <tr>

          <td>{{ team.name }}</td>
          <td>{{ team.get_sport_display }}</td>
          <td>{{ team.get_division_display }}</td>
          <td>{{ team.get_gender_display }}</td>

          <td>
            <a href="{% url 'explore:team' team_id=team.id %}" class="inline-icon__link">
              <img src="/assets/icons/magnifying-glass.svg" class="inline-icon">
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>

    </table>

</section>

{% endblock content %}
