{% extends "explore/base.html" %}

{% block content %}
<section class="main-section"> 
  <h1 class="mb-2">Team Details</h1>
  {% include "components/team_details_card.html" %}
</section>

<section class="main-section"> 

  <h2>Events</h2>

  <table class="item-table">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Status</th>
        <th>Division</th>
      </tr>
    </thead>
    <tbody>
      {% for registration in team.registrations.all %}
      <tr>
        <td>{{ registration.event.name }}</td>
        <td>{{ registration.event.status }}</td>

        <td>
          <a href="{% url "explore:division" division_id=registration.assigned_division.id %}" class="inline-icon__link">
            <img src="/assets/icons/magnifying-glass.svg" class="inline-icon dark-invert">
          </a>
        </td>

      </tr>
      {% endfor %}
    </tbody>
  </table>

</section>
{% endblock %}
