{% load static %}

<!DOCTYPE html>
<html lang="en" class="dark">


<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block styles %}
    <link rel="stylesheet" href="{% static 'base/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/images.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/mailbox.css' %}">

    <link rel="stylesheet" href="{% static 'base/css/cluster.css' %}">
    {% endblock %}

    <title>Register For Events</title>

</head>


<body>

<nav class="navigation">

  <div style="display: flex; flex-direction: row; gap: 1rem; align-items: center; padding-left: 1rem">
    <a href="{% url 'base:home' %}"><img src="/assets/images/site-logo-with-text.svg" class="nav__logo"></a>
  </div>

  <div style="display: flex; flex-direction: row; gap: 1rem; align-items: center; padding: 1rem">
    {% if request.user.is_authenticated %}
    <a href="{% url 'user:account' %}"><img src="/assets/icons/user.svg" class="icon-button"></a>
      <a href="{% url 'mailbox:mailbox' %}"><img src="/assets/icons/chat-box.svg" class="icon-button"></a>
      <a href="{% url 'base:logout' %}">Logout</a>
    {% else %}
      <a href="{% url 'base:login' %}">Login</a>
      <a href="{% url 'base:register' %}">Create Account</a>
    {% endif %}
  </div>

</nav>

<main>
  <div style="max-width: 1000px; margin: auto;">
    <header class="header">
      {% block header%}
      <h1>A Free Sports Bulletin Board</h1>
      <h3>Find games. Join games. Start games.</h3>

      {% endblock %}

    </header>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  <div>

</main>


<footer class="page-footer">
  {% block footer %}
  {% endblock %}
</footer>

<aside class="sidebar" id="sidebar">
  {% block sidebar %}
  {% endblock %}
</aside>

<script>
  document.getElementById("backButton")?.addEventListener("click", function () {
    window.history.back();
  });
</script>

</body>

</html>
