{% extends "base/base.html" %}


{% block header %}
<h1>Your Next Game Starts Here</h1>
<strong>Find games. Join games. Start games.</strong>
{% endblock %}

{% block content %}

<section class="main-section">
  <h2 style="margin-bottom: 1rem;">Explore Sports<h2>

  <div class="paragraph mb-3">
    <span class="paragraph__heading">Participate In Local Sports</span>
    <hr>
    <p>
      Explore, if you are looking for basketball events in Bakersfield, CA.
    </p>
  </div>

  <div class="sports-card__container pt-2 mt-2">

    <a href="{% url 'explore:search_results' %}?sport=basketball">
      <div class="sports-card pad">
        <img src="/assets/sport-icons/basketball.webp" class="sport-card__image dark-invert">
        <p class="sports-card__text">Basketball</p>
      </div>
    </a>

  </div>


</section>

<section class="main-section">
  <h2>Create Events</h2>

  <div class="paragraph mb-3">
    <span class="paragraph__heading">Register For A Register For Events Account</span>
    <hr>
    <p>
      Create an account today and start listing your event, inviting you members, and managing you registrations in one
      place.
    </p>
  </div>

  <a href="{% url 'base:register' %}">Create an Account</a>

</section>

<section class="main-section">
  <h2>Stay Connected</h2>

  <div class="paragraph mb-3">
    <span class="paragraph__heading">Register For Event Has Got You Covered</span>
    <hr>

    <p class="mb-2">
      Stay in the loop with registration updates, and event announcements from the host, everything happens 
      automatically. Attendees are notified when events change, registrations are updated, or games are canceled.
      Organizers and players always know what’s going on
    </p>

    <p>
      <strong>No missed messages, no confusion.</strong>
    </p>
  </div>

</section>
{% endblock %}

