{% extends "base/base.html" %}

{% block content %}
<h2>app</h2>

<a href="{% url 'app:profile_update' %}">profile update</a></br>
<a href="{% url 'app:profile_delete' %}">profile delete</a><br>
<br>
<a href="{% url 'app:profile_avatar_update' %}">profile avatar update</a><br>
<a href="{% url 'app:profile_avatar_delete' %}">profile avatar delete</a><br>
<br>
<br>
<a href="{% url 'app:event_create' %}">event create</a><br>
<a href="{% url 'app:event_update' event_id=1 %}">event update</a><br>
<a href="{% url 'app:event_delete' event_id=1 %}">event delete</a><br>
<br>
<a href="{% url 'app:event_poster_update' event_id=1 %}">event poster update</a><br>
<a href="{% url 'app:event_poster_delete' event_id=1 %}">event poster delete</a><br>
<br>
<a href="{% url 'app:event_divisions' event_id=1 %}">event divisions</a><br>
<a href="{% url 'app:participant_edit' registration_id=1 %}">event participant</a><br>
<br>
<a href="{% url 'app:team_create' %}">team create</a><br>
<a href="{% url 'app:team_update' team_id=1 %}">team update</a><br>
<a href="{% url 'app:team_delete' team_id=1 %}">team delete</a><br>
<br>
<a href="{% url 'app:team_photo_update' team_id=1 %}">team photo update</a><br>
<a href="{% url 'app:team_photo_delete' team_id=1 %}">team photo delete</a><br>
<br>
<a href="{% url 'app:register_for_event' event_id=1 %}">register for event</a><br>
<a href="{% url 'app:registration_withdraw' registration_id=1 %}">registration withdraw</a><br>
{% endblock %}

