{% extends "base/base.html" %}

{% block content %}
<section class="main-section mt-2">

  <h2 class="mb-2">Login</h2>

  <form method="post" class="form">
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    <h3 class="mb-2">Let's get to work.</h3>

    {% csrf_token %}
    {% if error %}<p style="color:red">{{ error }}</p>{% endif %}
    <table class="form-as-table">
      <tbody>
        <tr>
          <td>
            <input type="text" name="username" placeholder="Username" required>
          </td>
        </tr>
        <tr>
          <td>
          <input type="password" name="password" placeholder="Password" required>
          </td>
        </tr>
      </tbody>
    </table>
    <button type="submit">Login</button>
  </form>
</section>

<section class="main-section mt-2">
  <div class="paragraph">
    <span class="paragraph__heading">Need something else?</span>
    <hr>
    <p>
      These links might help you.
    </p>
    <ul class="ml-2 mt-2">
      <li>
        <a href="{% url 'password_reset' %}">Reset Password</a>
      </li>
      <li>
        <a href="{% url 'base:register' %}">Create Account</a>
      </li>
    </ul>
  </div>


</section>

{% endblock %}
