{% extends "base/base.html" %}

{% block content %}
<section class="main-section mt-2">
    <h2 class="mb-2">Create a new account.</h2>
  <form method="post" class="form">
    <h3>Account Registration Form</h3>

    {% csrf_token %}

    {% if error %}<p>{{ error }}</p>{% endif %}

    <table class="form-as-table">
      {{ form.as_table }}
    </table>

    <button type="submit">Submit</button>

  </form>
</section>

<section class="main-section mt-2">
  <div class="paragraph mb-2">
    <span class="paragraph__heading">The fun starts here</span>
    <hr>
    <p>
      Register For Events is a simple way to stay in touch throughout the registration and event day process. Manage
      your teams and event through a dead simple workflow from event creation to game day announcements.
    </p>
  </div>
</section>

{% endblock %}
