{% extends "records/base.html" %}

{% block content %}

<section class="main-section">
  <h2>Invoices</h2>

  <table class="item-table">
    <thead>
      <tr>
        <th>#</th>
        <th>To</th>
        <th>Created</th>
        <th>Due By</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for invoice in invoices %}
        <tr>
          <td>{{ invoice.id }}</td>
          <td>{{ invoice.first_name }} {{ invoice.last_name }}</td>
          <td>{{ invoice.created_at|date:"m-d-y" }}</td>
          <td>{{ invoice.due_date|date:"m-d-y" }}</td>
          <td>{{ invoice.status}}</td>
          <td><a href="{% url 'invoice:invoice' invoice_id=invoice.id %}">View</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</section>
{% endblock %}
