{% extends "user/base.html" %}

{% block content %}

<section class="main-section">

  <h1>Manage Division ({{ division.get_name_display }} {{ division.get_gender_display }})</h2>

    <h3>Event Details</h3>
  {% include "components/event_preview_card.html" with event=division.event%}

</section>
<section class="main-section">
  <h2>Teams</h2>

  <table class="item-table">
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Contact Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>reg.</th>

      </tr>
    </thead>
    <tbody>
      {% for item in division.items.all %}
      <tr>
        {% if item.team %}
        <td>
            {{ item.team.name }}
        </td>
        {% else %}
        <td>TBA</td>
        {% endif %}
        <td>{{ item.contact_name }}</td>
        <td>{{ item.contact_email}}</td>
        <td>{{ item.contact_phone}}</td>
        <td>
          <a href="{% url 'host:registration_item' registration_item_id=item.id %}" class="inline-icon__link">
              <img src="/assets/icons/magnifying-glass.svg" class="inline-icon">
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</section>


<section class="main-section danger-section">
  <div class="pl-2">

    <h2>Delete This Division</h2>

    <div class="paragraph mb-3">
      <span class="paragraph__heading">Danger</span>
      <hr>
      <p>
        One the division is deleted you may remove the division from the event's division as an option on event edit 
        page.
      </p>
    </div>


    <div class="action-link__container">
      <a href="" class="action-link danger-link">Confirmation Page</a>
    </div>
  </div>

</section>

{% endblock %}
