{% extends "user/base.html" %}

{% block content %}

<section class="main-section">

  <h1>Manage Division ({{ division.name }} {{ division.gender }})</h2>

    <h3>Event Details</h3>
  {% include "components/event_preview_card.html" with event=division.event%}

</section>
<section class="main-section">
  <h2>Registrations</h2>
  
  <table class="item-table">
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Contact Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      {% for item in division.items.all %}
      <tr>
        {% if item.team %}
        <td>
            {{ item.team.name }}
          <a href="{% url 'explore:team' team_id=item.team.id %}" class="inline-icon__link">
            <img src="/assets/icons/magnifying-glass.svg" class="inline-icon"><a></td>
          </a>
        </td>
        {% else %}
        <td>TBA</td>
        {% endif %}
        <td>{{ item.registration.contact_name}}</td>
        <td>{{ item.registration.email}}</td>
        <td>{{ item.registration.phone}}</td>
        <td>
          <a href="{% url 'host:registration' registration_id=item.registration.id %}" class="inline-icon__link">
              <img src="/assets/icons/magnifying-glass.svg" class="inline-icon">
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</section>


<section class="main-section danger-section">
  <div class="pl-2">

    <h2>Delete This Division</h2>

    <div class="paragraph mb-3">
      <span class="paragraph__heading">This is a heading</span>
      <hr>
      <p>
        Deleting this division will cancel all regierted teams in it. You can then remove the division from available 
        division on your hosting page for this event.
      </p>
    </div>


    <div class="action-link__container">
      <a href="" class="action-link danger-link">Continue To Delete Confermation Page</a>
    </div>
  </div>

</section>

{% endblock %}
