{% extends "host/base.html" %}

{% block content %}

<section class="main-section">
  <h2>Event</h2>
  <h2>
    <a href="{% url 'explore:event' event_id=event.id %}" class="inline-icon__link mr-1">
      <img src="/assets/icons/magnifying-glass.svg" class="inline-icon"><a></td>
    </a>
    {{ event.name }}
  </h2>


  <div class="row g-2">
    <div class="img-poster__container-full mb-1">
      <img src="{{ event.get_poster_url }}" class="img-fill">
    </div>

    <div>
      <h3>Event Info</h3>

      <dl>
        <dt>Sport</dt><dd>{{ event.get_sport_display }}</dd>
        <dt>City</dt><dd>{{ event.get_city_display }}</dd>
        <dt>State</dt><dd>{{ event.get_state_display }}</dd>
        <dt>Visibility</dt><dd>{{ event.public }}</dd>
        <dt>Status:</dt><dd>{{ event.get_status_display }}</dd>
      </dl>
    </div>
  </div>

  <ul class="action-link__container">
    <li><a href="{% url 'host:event_poster_update' event_id=event.id %}" class="action-link">Change Poster</a></li>
    <li><a href="{% url 'host:event_poster_delete' event_id=event.id %}" class="action-link">Delete Poster</a></li>
    <li><a href="{% url 'host:event_update' event_id=event.id %}" class="action-link">Update Event</a></li>
  </ul>

</section>

<section id="lifecycle" class="main-section">

  <h2>LifeCycle</h2>
  {{ event.status.value }}

  <div class="lifecycle mb-2">
    {% for value, label in event.Status.choices %}
    {% if value < event.status %}
      <div class="step completed">
    {% elif value == event.status %}
      <div class="step current">
    {% else %}
      <div class="step">
    {% endif %}
        <div class="circle"></div>
        <div class="label">{{ label }}</div>
      </div>
    {% endfor %}
  </div>

  <div class="paragraph mt-2">
    <span class="paragraph__heading">Actions</span>
    <hr>
    <ul class="action-link__container">
      {% if event.status == 1 %}
      <li>
        <a href="{% url 'host:status_open' event_id=event.id %}" class="action-link">Open For Registration</a>
      </li>
      {% endif %}
      {% if event.status == 2 %}
      <li>
        <a href="{% url 'host:status_close' event_id=event.id %}" class="action-link">Close Registration</a>
      <li>
      </li>
        <a href="{% url 'host:status_scheduled' event_id=event.id %}" class="action-link">Finalize Schedule</a>
      </li>
      {% endif %}
      {% if event.status == 3 %}
      <li>
        <a href="{% url 'host:status_open' event_id=event.id %}" class="action-link">Open For Registration</a>
      </li>
      {% endif %}
      {% if event.status == 4 %}
      <li>
        No Actions at this stage
      </li>
      {% endif %}
      {% if event.status == 5 %}
      <li>
        No Actions at this stage
      </li>
      {% endif %}
      {% if event.status == 6 %}
      <li>
        This Event has be canceled.
      </li>
      {% endif %}
    </ul>
  </div>



<section class="main-section">

  <h2>Divisions</h2>

  <ul class="action-link__container">
    <li><a href="{% url 'host:event_divisions' event_id=event.id %}" class="action-link">Add/Remove Division</a></li>
  </ul>

  <table class="item-table">
    <thead>
      <tr>
        <th>Gender</th>
        <th>Division</th>
        <th>Teams</th>
        <th></ht>
      </tr>
    </thead>

    <tbody>
    {% for division in event.divisions.all %}
      <tr>
        <td>{{ division.get_gender_display }}</td>
        <td>{{ division.get_name_display }}</td>
        <td>{{ division.items.count}}</td>
        <td><a href="{% url 'host:division' division_id=division.id %}">Manage</a></td>
      </tr>
    {% endfor %}
    </tbody>

  </table>
</section>

</section>

<section class="main-section">
  <h2>Interact</h2>

  <div class="paragraph">
    <span class="paragraph__heading">Reach out to participants</span>
    <hr>
    <p>
      Share invitations to you event on other sites, make announcements to your participants about updates to your 
      event, and download invoices for your completed events.
    </p>
  </div>

  <div class="action-link__container">
    <a href="{% url 'host:event_announcement_create' event_id=event.id %}" class="action-link">Announce</a>
    <a href="{% url 'invoice:event_invoices' event_id=event.id %}" class="action-link">Invoice</a>
  </div>


</section>

<section class="main-section danger-section">

  <div class="pl-2">

    <h2>Cancel This Event</h2>
    <div class="paragraph">
      <span class="paragraph__heading">Are you sure you want to cancel this event?</span>
      <hr>
      <p>
        Canceling an event will delete all records, registrations, RSVPs, and invoices. 
      </p>
    </div>

    <ul class="action-link__container">
      <li>
        <a href="{% url 'host:event_delete' event_id=event.id %}" class="action-link danger-link">
          Continure to Cancel
        </a>
      </li>
    </ul>

  </div>
  
</section>

{% endblock %}
