{% extends "host/base.html" %}

{% block content %}

<section class="main-section">

  <h1>Events</h1>

  <div class="paragraph mb-2">
    <span class="paragraph__heading">Create and Share</span>
    <hr>
    <p>
      Create events, manage, and share them all through their edit pages you can find here.
    </p>
  </div>

  <div class="action-link__container mb-1">
    <a href="{% url 'host:event_create' %}" class="action-link">Create Event</a>
  </div>

  <table class="item-table">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>City</th>
        <th>State</th>
        <th>Sport</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for event in events.all %}
        <tr>
          <td>{{ event.name }}</td>
          <td>{{ event.get_city_display }}</td>
          <td>{{ event.get_state_display }}</td>
          <td>{{ event.get_sport_display }}</td>
          <td>{{ event.get_status_display }}</td>
          <td>
            <a href="{% url "host:event" event_id=event.id %}" class="inline-icon__link">
              <img src="/assets/icons/magnifying-glass.svg" class="inline-icon">
              <a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</section>
{% endblock %}
