{% extends "user/base.html" %}

{% block content %}

<section class="main-section">
 
<h1>Invitations</h1>

<div class="action-link__container">
  <a href="{% url 'host:invite' event_id=event.id %}" class="action-link">View Sharable Invitation</a>
  <a href="{% url 'host:embed' event_id=event.id %}" class="action-link">Embed</a>
</div>

{% include 'components/event_preview_card.html' %}

</section>

<section class="main-section">


  <h2>RSVPs</h2>

  <table class="item-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Teams</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    {% for rsvp in event.rsvps.all %}
      <tr>
        <td>{{ rsvp.first_name }} {{ rsvp.last_name }}</td>
        <td>{{ rsvp.email}}</td>
        <td>{{ rsvp.phone}}</td>
        <td>{{ rsvp.divisions.count }}</td>
        <td>
          <a href="{% url 'host:rsvp_convert' rsvp_id=rsvp.id %}" class="inline-icon__link">
            <img src="/assets/icons/magnifying-glass.svg" class="inline-icon"><a></td>
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>

  </table>
</div>

</section>
{% endblock %}
