{% extends "user/base.html" %}

{% block content %}

<section class="main-section">

  <h1>Rgistered Team</h2>

  <h3>Team/Event Details</h3>
  {% include "components/registration_item_preview_card.html" with item=item %}

  <ul class="action-link__container mt-2">
    </li>
      <a href="{% url 'host:registration' registration_id=item.registration.id%}" class="action-link">
        Edit Registration
      </a>
    </li>
  </ul>

</section>

<section class="main-section">
  <h2>Invoice</h2>
  <div class="paragraph mb-2">
      <span class="paragraph__heading">View This Team's Invoice</span>
      <hr>
      <ul class="action-link__container">
        </li>
          <a href="{% url 'invoice:preview' invoice_id=item.invoice.id%}" class="action-link">Invoice</a>
        </li>
      </ul>
  </div>
</section>


<section class="main-section danger-section">
  <div class="pl-2">

    <h2>Cancel Team</h2>

    <div class="paragraph mb-3">
      <span class="paragraph__heading">Remove This Team</span>
      <hr>
      <p>
        Remove this team from its registration.
      </p>
    </div>


    <div class="action-link__container">
      <a href="{% url 'host:registration_cancel' registration_id=item.registration.id%}" class="action-link danger-link">
        Continue to Cancelation Page
      </a>
    </div>
  </div>

</section>

{% endblock %}
