{% extends "invoice/base.html" %}

{% block content %}


<section class="main-section">

  <h2>Invoices</h2>

  {% include "components/event_preview_card.html" %}

  <ul class="action-link__container mt-2">
    <li>
      <a href="#" class="action-link dead-link">Issue All</a>
      <a href="#" class="action-link dead-link">Void All</a>
    </li>
  </ul>


  <table class="item-table mt-2">
    <thead>
      <tr>
        <th>#</th>
        <th>To</th>
        <th>Start Date</th>
        <th>Status</th>
        <th>Teams</th>
        <th>Invoice</th>
      </tr>
    </thead>
    <tbody>
      {% for invoice in invoices %}
        <tr>
          <td>{{ invoice.id }}</td>
          <td>{{ invoice.contact.first_name }} {{ invoice.contact.last_name }}</td>
          <td>{{ invoice.created_at|date:"m-d-y" }}</td>
          <td>{{ invoice.get_status_display }}</td>
          <td>{{ invoice.items.count }}</td>
          <td>
            <a href="{% url 'invoice:preview' invoice_id=invoice.id %}" class="inline-icon__link">
              <img src="/assets/icons/magnifying-glass.svg" class="inline-icon">
              <a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</section>
{% endblock %}
