{% extends "invoice/base.html" %}

{% block content %}

<section class="main-section">
  <h1>Event Invoices</h1>

  <div class="paragraph mb-3">
    <p class="mb-2"></p>
    <span class="paragraph__heading"></span>
    <hr>
  </div>

  {% include 'components/event_preview_card.html' with event=event%}

      {% for reg in event.registrations.all %}
        {{ reg }} - invoice : {{ reg.invoice }}
        <a href="{% url 'invoice:create' registration_id=reg.id %}">Issue Invoice</a>
      {% endfor %}

  <table class="item-table mt-2">
    <thead>
      <tr>
        <th>#</th>
        <th>To</th>
        <th>Created</th>
        <th>Divisions</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for invoice in invoices %}
        <tr>
          <td>{{ invoice.id }}</td>
          <td>{{ invoice.first_name }} {{ invoice.last_name }}</td>
          <td>{{ invoice.created_at|date:"m-d-y" }}</td>
          <td>{{ invoice.items.count }}</td>
          <td>{{ invoice.get_status_display }}</td>
          <td><a href="{% url 'invoice:invoice' invoice_id=invoice.id %}">View</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</section>
{% endblock %}
