{% extends "invoice/base.html" %}

{% block content %}

<section class="main-section">
  <h2>Invoices</h2>

  <div class="paragraph mb-3">
    <p class="mb-2">
      Take an event through it's lifecycle and view it's invoices here. You'll have a chance to review your invoices 
      before issuing them to you attendies.
    </p>
    <span class="paragraph__heading">Event Lifecycle</span>
    <hr>
    <ul>
      <li>
        Create an Event 
      </li>
      <li>
        Add Divisions
      </li>
      <li>
        Accept Registrations
      </li>
      <li>
        Mark the Event as completed
      </li>
    </ul>
  </div>


  <table class="item-table">
    <thead>
      <tr>
        <th>#</th>
        <th>To</th>
        <th>Created</th>
        <th>Due By</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for invoice in invoices %}
        <tr>
          <td>{{ invoice.id }}</td>
          <td>{{ invoice.first_name }} {{ invoice.last_name }}</td>
          <td>{{ invoice.created_at|date:"m-d-y" }}</td>
          <td>{{ invoice.due_date|date:"m-d-y" }}</td>
          <td>{{ invoice.status}}</td>
          <td><a href="{% url 'invoice:invoice' invoice_id=invoice.id %}">View</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</section>
{% endblock %}
