{% extends "details/base.html" %}

{% block content %}
<h1>Division Details</h1>

{% include "components/event_summary_card.html" with event=division.event %}


<div class="content-container">

  <h2>Division</h2>
        <dl>
          <dt>Division</dt><dd>{{ division.name}}</dd>
          <dt>Gender</dt><dd>{{ division.gender }}</dd>
        </dl>
  
  <table class="info-list-table">
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Contact</th>
      </tr>
    </thead>
    <tbody>
    {% for registration in division.registrations.all %}
      <tr>
        {% if registration.team %}

        <td><a href="{% url 'details:team' team_id=registration.team.id %}">{{ registration.team.name }}</a></td>
        <td>{{ registration.contact_name}}</td>

        {% else %}

        <td>TBA</td>
        <td>{{ registration.contact_name}}</td>

        {% endif %}
      </tr>
    {% endfor %}

    </tbody>
  </table>

</div>
{% endblock %}
