{% extends "base/base.html" %}

{% block content %}

<section class="main-section mt-2">

  <h2>Password Reset</h2>

  <form method="post" class="form">
    <h3>Enter Your Email Below</h3>
    {% csrf_token %}

    <table class="form-as-table">
    {{ form.as_table}}
    </table>

    <button type="submit">Send Link</button>

    <div class="paragraph">
      <hr>
      <p>
        Check you email for the password reset link. We will send it shortly.
      </p>
    </div>


  </form>

</section>

{% endblock content %}
