{% extends "host/base.html" %}

{% block content %}

<section class="main-section">

  <h2>Make Announcement</h2>

  {% include "components/event_preview_card.html" %}

  <form method="post" class="form mt-2">

    <h2>Announcement Form</h2>

  <div class="paragraph mb-2">
    <span class="paragraph__heading">This announcement goes to all event participants</span>
    <hr>
    <p>
      Use this form to make important updates about the event, venue, and other details. These announcements are 
      viewable in the mailbox, and a copy is sent by email to keep everyone informed.
    </p>
  </div>


    <dl class="mb-2">
      <dt>Recipients</dt>
      <dd>{{ event.registrations.count }}</dd>
    </dl>


    {% csrf_token %}

    {{ form.as_table}}

    <button type="submit" class="mt-2">Create Announcement</button>

  </form>

</section>


{% endblock %}
