{% extends "base/base.html" %}

{% block content %}
<section class="main-section pb-2">

  <h2>Create an Event</h2>

   <div class="paragraph">
      <span class="paragraph__heading">Become An Event Host</span>
      <hr>
      <p>
        It's as easy as creating your first event. Send out invitations, accept registrations, run ,and conclude your
        event.
      </p>
   </div>

</section>

<section class="main-section">

  <form method="post" class="form">

    <h2>Event Form</h2>

    {% if user.profile.is_complete %}
    </table>
    {% csrf_token %}
    <table class="form-as-table">
      {{ form.as_table }}
    </table>
    <button type="submit">Create Event</button>

    {% else %}
    <h2>Contact Information Missing</h2>
  <p>You are missing profile contact information and can not create events.</p>
    <div class="action-link__container">
      <a href="{% url 'user:profile_update' %}?next={{ request.path }}" class="action-link">Add Contact Info</a></br>
    </div>
    {% endif %}

  </form>
</section>
{% endblock %}
