{% extends "app/base.html" %}

{% block content %}

<section class="main-section">

<h1>Close Registration</h1>

{% include "components/event_preview_card.html" %}

  <form method="post" class="form mt-2">
    <h2>Not Ready To Accept Registrations?</h2>

  <div class="paragraph mb-2">
    <span class="paragraph__heading">That's okay</span>
    <hr>
    <p>
      Closing registration will hide you event from search and break any sent invitations.
    </p>
  </div>

      {% csrf_token %}

      <button type="submit" class="mt-2">Close</button>

  </form>
</section>
{% endblock %}
