:root {
  --text-color: black;
  --muted-text-color: rgb(105, 105, 105);
  --link-color: rgb(90, 90, 255); 
  --link-hover-color: rgb(70, 70, 220);

  --background-color: rgb(255, 250, 235);
  --content-background-color: rgb(245, 245, 245); 

  --nav-background-color: rgb(208, 210, 218);
  --menu-background-color: rgb(213, 215, 223);
  --page-header-background-color: rgb(226, 225, 221);
  --border-color: rgb(200, 200, 200);

  --menu-link-hover-background-color: rgba(0, 0, 0, 0.15);

  --nav-height: 3.5rem;
  --sidebar-width: 14.5rem;
  --main-gap: 4rem;

  --border-radius: 3px;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
 
}

html * {
  margin: 0;
  padding: 0;
  font-size: 14.25px;
  line-height: 1.4;
  letter-spacing: 0.1px;
  box-sizing: border-box; 
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
}

a {
  color: rgb(70, 70, 205);
  font-weight: 600;
  text-decoration: none;
}

a.hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

body {
  color: var(--text-color);
  background-color:rgb(245, 245, 245); 
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}



form {
  background-color: var(--content-background-color);
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  margin-bottom: 1.5rem;
  border-radius: 3px;
  padding: 1.5rem .75rem;
  border: 1px solid var(--border-color);
}

form button {
  margin-top: 1rem;
}

label {
  margin-bottom: .5rem;
}

.header {
  margin: 1rem;
}

.container {
  margin: 5rem;
  padding: 3rem 5rem;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  max-width: 800px;
  margin: auto;
  min-height: 70vh;
}

ul.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}



.sports-card {
  background-color: rgb(248, 248, 485);
  width: fit-content;
  padding: 0.5rem;
  box-shadow: 1px 2px 3px rgba(136, 136, 136, 0.5);
  border-radius: 0.25rem;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-background-color);
  border-bottom: 1px solid rgb(159, 161, 165);
}

.navigation a {
  color: #111827;
  text-decoration: none;
  font-weight: 500;
}

.navigation a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.contact-info-table table {
  max-width: 400px;
}

.contact-info-table th,
.contact-info-table td {
  border: 1px solid #ccc;
  padding: 8px 10px;
  text-align: left;
}

.contact-info-table th {
  background-color: #f4f4f4;
  width: 120px;
}

.my-events-table {
  margin: 20px 0;
}

.info-list-table th,
.info-list-table td {
  font-size: 0.8rem; 
  border: 1px solid rgb(204, 204, 204);
  padding: 2px 4px;
  text-align: left;
}

.info-list-table th {
  background-color: rgb(219, 219, 229);
}

.info-list-table tbody {
  background-color: rgb(255, 255, 255);
  min-height: 4rem;
}

.info-list-table tbody tr {
  background-color: rgb(240, 240, 250);
}

.info-list-table tbody tr:nth-child(odd) {
  background-color: rgb(250, 250, 250);
}

.info-list-table tbody tr:hover {
  background-color: rgb(220, 220, 220);
}

.direct-message-list{
  background-color: rgb(160, 160, 160);
  list-style-type: none;
  width: 100%;
  min-height: 20rem;
  padding: .75rem;
  border-radius: 3px;
}

.direct-message-list__message {
  width: 70%;
  color: white;
  font-weight: 800;
  padding: .25rem;
  margin: .25rem;
  margin-left: 30%;
  border-radius: 3px;
}

.direct-message-list__message.sent {
  background-color: rgb(70, 70, 255);
}

.direct-message-list__message.received {
  background-color: rgb(70, 70, 255);
}


.direct-message-list__message {
  background-color: rgb(140, 140, 140);
}


.event-search-form label {
  display: flex;
  flex-direction: column;
  align-content: center;
}

select {
    padding: .3rem .6rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
}

fieldset {
  padding: .5rem;
  margin: .5rem;
}

details {
  background-color: rgb(200, 200, 200); 
  border-radius: 3px;
  padding: .5rem;
  margin-bottom: .5rem;
}

.divisions-checkbox-form__fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .1rem;
  padding: .5rem;
  font-weight: 800;
}

.divisions-checkbox-form__fieldset label {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.divisions-checkbox-form label {
  padding: 2px;
}


@media (max-width: 1200px) {
}

@media (max-width: 900px) {
  .container {
    padding: 3rem .5rem;
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
}

@media (max-width: 650px) {
}
