{% extends "play/base.html" %}

{% block content %}

<section class="main-section">
  <h2>My Teams</h2>

    <div class="paragraph mb-2">
    <span class="paragraph__heading">Teams You've Created</span>
    <hr>
    <p>
      Manage your teams, and view past events you've participated in.
    </p>
  </div>

  <div class="action-link__container mb-1">
    <a href="{% url 'play:team_create' %}" class="action-link">Create Teams</a>
  </div>


    <table class="item-table">
      <thead>
        <tr>
          <th>Team Name</th>
          <th>Gender</th>
          <th>Division</th>
          <th>Sport</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for team in teams %}
        <tr>
          <td>{{ team.name }}</td>
          <td>{{ team.get_gender_display }}</td>
          <td>{{ team.get_division_display }}</td>
          <td>{{ team.get_sport_display }}</td>
          <td><a href="{% url 'play:team' team_id=team.id %}" class="inline-icon__link">
                <img src="/assets/icons/magnifying-glass.svg" class="inline-icon">
                <a>
          </td>
            </a></td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
  </div>
</section>
{% endblock %}
