{% extends "mailbox/base.html" %}


{% block content %}

<h1>Alerts</h1>

<form method="post" class="mb-2">
  {% csrf_token %}
  <button type="submit" class="btn">Clear Alerts</button>
</form>

<div class="alert-container">

  {% for alert in alerts %}
    {% if alert.type == 'new_registration' %}
      <details class="alert-card">
        <summary>New Registration</summary>
        <h4>{{ alert.title }}</h4>
        <p>{{ alert.body }}</p>
        <a href="{% url 'host:hosting' %}">Hosting</a>
      </details>
    {% endif %}

    {% if alert.type == 'team_withdran' %}
      <details class="alert-card">
        <summary>Team withdrew from an event</summary>
        <h4>{{ alert.title }}</h4>
        <p>{{ alert.body }}</p>
        <a href="{% url 'user:hosting' %}">Hosting</a>
      </details>
    {% endif %}

    {% if alert.type == 'team_withdran_by_deletion' %}
      <details class="alert-card">
        <summary>Participating team deleted</summary>
        <h4>{{ alert.title }}</h4>
        <p>{{ alert.body }}</p>
        <a href="{% url 'host:hosting' %}">Hosting</a>
      </details>
    {% endif %}

    {% if alert.type == 'host_canceled_registration' %}
      <details class="alert-card">
        <summary>Event Canceled</summary>
        <h4>{{ alert.title }}</h4>
        <p>{{ alert.body }}</p>
        <a href="{% url 'user:events' %}">Hosting</a>
      </details>
    {% endif %}

    {% if alert.type == 'host_canceled_event' %}
      <details class="alert-card">
        <summary>Event  Cancellation</summary>
        <h4>{{ alert.title }}</h4>
        <p>{{ alert.body }}</p>
        <a href="{% url 'user:events' %}">My Events</a>
      </details>
    {% endif %}
  {% endfor %}

</div>

{% endblock %}
