{% extends "mailbox/base.html" %}


{% block content %}
<h1>Announcements</h1>
<div class="direct-message-conversations-list__container">
  <ul class="direct-message-conversations-list">
      {% for an in announcements %}
      <li>
        <a href="{% url 'mailbox:announcement' announcement_id=an.id %}">
          <div class="convo-card">
            <img src="{{ an.event.get_poster_url }}" class="icon-size">
            <div>
              <span class="convo-meta">{{ an.event.name }}</span>
              <hr>
              <span class="convo-preview">{{ an.title }}</span>
            </div>
          </div>
        </a>
      </li>
      {% endfor %}
  </ul>
</div>
{% endblock %}
