{% extends "play/base.html" %}


{% block content %}

<section class="main-section">
  <h2>Modify Registration</h2>
    <li class="action-link__container">
      <a href="{% url 'play:registration' registration_id=registration.id%}" class="action-link">
       Back 
      </a>
    </li>

</section>

<section class="main-section">

    <form method="post" class="form">

      <h2 class="mb-1">Withdraw Teams</h2>
  <div class="paragraph">
    <span class="paragraph__heading">
      Remove individual teams from this registration
    </span>
    <hr>
    <p class="mb-1">
      Select teams to be removed from this registration.</p>
    <p class="mb-1">
      This will notify the Event Host of the withdrawal to keep the event running smoothly.
    </p>
    <p>
      If you're looking to add teams to this registration you can do that from the join page.
    </p>
    <ul>
      <li>
    <a href="{% url 'play:register_for_event' event_id=registration.event.id %}" class="action-link">Add more teams</a>
      </li>
    </ul>
  </div>

      {% csrf_token %}
    {% include "components/registration_preview_card.html" %}


      <table class="item-table mb-2">
        <thead>
          <tr>
            <th>Team Name</th>
            <th>Gender</th>
            <th>Division</th>
            <th>Sport</th>
            <th>Select</th>
          </tr>
        </thead>
        <tbody>
        {% for item in items %}
        {% with key=item.team.gender|add:"-"|add:item.team.division %}
          <tr>
            <td>{{ item.team.name }}</td>

            <td>{{ item.team.get_gender_display }}</td>
            <td>{{ item.team.get_division_display }}</td>
            <td>{{ item.team.get_sport_display }}</td>
            <td>
              <input type="checkbox" name="team{{ team.id }}"></input>
            </td>
          </tr>
          {% endwith %}
        {% endfor %}

        </tbody>
      </table>

      <button type=submit>Withdraw Teams</button>

  </form>

</section>


{% endblock %}
