{% extends "app/base.html" %}


{% block content %}

<section class="main-section">
  <h1>Register Your Teams</h1>

  <div class="paragraph">
    <span class="paragraph__heading">Games Start Here</span>
    <hr>
    <p>
      Select your team that match the divisions available for this event. If you don't see the division/s that you're
      looking for you can try sending and RSVP with your teams and there divisions might get added if there is space
      available.
    </p>
  </div>
</section>

<section class="main-section">
  <div class="mb-3">
    {% include "components/event_summary_card.html" %}
  </div>

  <h3>Divisions Available </h3>

  <table class="item-table">
    <thead>
      <tr>
        <th></th>
        <th>Division</th>
        <th>Gender</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

    {% for division in event.divisions.all %}
      <tr>
        <td></td>
        <td>{{ division.get_name_display }}</td>
        <td>{{ division.get_gender_display }}</td>
        <td></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

</section>

<section class="main-section">

  <h2>Select Your Teams</h2>

  {% if user.profile.is_complete %}
  <div class="action-link__container">
    <a href="{% url 'play:team_create' %}?next={{ request.path }}" class="action-link">Create Team</a></br>
  </div>

  <form method="post" class="form mb-2">

    <h3>Register</h3>

    {% csrf_token %}

    <table class="item-table mb-2">
      <thead>
        <tr>
          <th>Team Name</th>
          <th>Gender</th>
          <th>Division</th>
          <th>Sport</th>
          <th>Select</th>
        </tr>
      </thead>
      <tbody>
      {% for team in teams %}
        <tr>
          <td>{{ team.name }}</td>

          <td>{{ team.get_gender_display }}</td>
          <td>{{ team.get_division_display }}</td>
          <td>{{ team.get_sport_display }}</td>
          <td>
            {% if team in registered_teams %}
            <img src="/assets/icons/check-mark.svg" class="inline-icon">
            <a hre="#" class="inline-icon__link ml-1">
              <img src="/assets/icons/magnifying-glass.svg" class="inline-icon">
            </a>
            {% else %}
              {% if team.get_key in event_division_keys %}
                <input type="checkbox" name="team{{ team.id }}"></input>
              {% else %}
                <img src="/assets/icons/cross.svg" class="inline-icon">
              {% endif %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}

      </tbody>
    </table>

    <button type=submit>Register Teams</button>

  </form>

  <section class="main-section">
    <h2>RSVP</h2>

    <div class="paragraph mb-2">
      <span class="paragraph__heading">Don't see the division that you're looking for?</span>
      <hr>
      <p class="mb-2">
        RSVP with the division for you team's and if there is enough space and interest the event host might add it to
        the event.
      </p>
      <div class="action-link__container mb">
        <a href="{% url 'share:event_rsvp' event_id=event.id %}" class="action-link">RSVP Instead</a></br>
      </div>
    </div>

  </div>
  {% else %}

  <p>You are missing profile contact information and can not register for events.</p>

  <div class="action-link__container">
    <a href="{% url 'user:profile_update' %}?next={{ request.path }}" class="action-link">Add Contact Info</a></br>
  </div>

  {% endif %}
</section>


{% endblock %}
