{% extends "play/base.html" %}


{% block content %}

<section class="main-section">
  <h2>Register For Event</h2>

  <div class="paragraph">
    <span class="paragraph__heading">Games Start Here</span>
    <hr>
    <p>
      Select your team that match the divisions available for this event. If you don't see the division/s that you're
      looking for you can try sending and RSVP with your teams and there divisions might get added if there is space
      available.
    </p>
  </div>
  <div class="mb-3">
    {% include "components/event_preview_card.html" %}
  </div>

  <h3>Available </h3>

  <table class="item-table">
    <thead>
      <tr>
        <th></th>
        <th>Division</th>
        <th>Gender</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

    {% for division in event.divisions.all %}
      <tr>
        <td></td>
        <td>{{ division.get_name_display }}</td>
        <td>{{ division.get_gender_display }}</td>
        <td></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

</section>

<section id="register-form" class="main-section">

  {% if user.profile.is_complete %}
  <form method="post" class="form mb-2">

  <h2>Select Teams</h2>

  <div class="paragraph mb-2 pb-2">
    <span class="paragraph__heading">Select teams to be include</span>
    <hr>
    <p>
      Select from you teams that match the available divisions offered by this event.
      If you haven't created the team yet you can do that now.
    </p>
    <ul class="action-link__container">
      <li>
        <a href="{% url 'play:team_create' %}?next={{ request.path }}#register-form" class="action-link">Create Team</a></br>
      </li>
    </ul>
  </div>



    {% csrf_token %}

    <table class="item-table mb-2">
      <thead>
        <tr>
          <th>Team Name</th>
          <th>Gender</th>
          <th>Division</th>
          <th>Sport</th>
          <th>Select</th>
        </tr>
      </thead>

      <tbody>
      {% for team in teams %}
        <tr>
          <td>{{ team.name }}</td>

          <td>{{ team.get_gender_display }}</td>
          <td>{{ team.get_division_display }}</td>
          <td>{{ team.get_sport_display }}</td>
          <td>
            {% if team in registered_teams %}
            <img src="/assets/icons/check-mark.svg" class="inline-icon">
            {% elif team.get_key in event_division_keys %}
              <input type="checkbox" name="team{{ team.id }}"></input>
            {% else %}
                <img src="/assets/icons/cross.svg" class="inline-icon">
            {% endif %}
          </td>
        </tr>
      {% endfor %}

      </tbody>
    </table>

    <button type=submit>Register Teams</button>

  </form>

  {% else %}

  <p>You are missing profile contact information and can not register for events.</p>

  <div class="action-link__container">
    <a href="{% url 'user:profile_update' %}?next={{ request.path }}" class="action-link">Add Contact Info</a></br>
  </div>

  {% endif %}
</section>


{% endblock %}
