{% extends "app/base.html" %}


{% block content %}

<section class="main-section">
  <h1>Register Your Teams</h1>

  <div class="paragraph">
    <span class="paragraph__heading">This Is A Heading</span>
    <hr>
    <p>
      this is a paragraph
      this is a paragraph
      this is a paragraph
      this is a paragraph
      this is a paragraph
      this is a paragraph
      this is a paragraph
      this is a paragraph
      this is a paragraph
      this is a paragraph
    </p>
  </div>
</section>

<section class="main-section">
{% include "components/event_summary_card.html" %}
  <h3>Event Divisions Available </h3>

  <table class="item-table">
    <thead>
      <tr>
        <th>Gender</th>
        <th>Division</th>
      </tr>
    </thead>
    <tbody>

    {% for division in event.divisions.all %}
      <tr>
        <td>{{ division.gender }}</td>
        <td>{{ division.name }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

</section>

<section class="main-section">

  <h2>Select Your Teams</h2>

  {% if user.profile.is_complete %}
  <div class="action-link__container">
    <a href="{% url 'play:team_create' %}?next={{ request.path }}" class="action-link">Create Team</a></br>
  </div>

    <form method="post" class="form">

      <h3>Register</h3>

      {% csrf_token %}

      <table class="item-table mb-2">
        <thead>
          <tr>
            <th>Team Name</th>
            <th>Gender</th>
            <th>Division</th>
            <th>Sport</th>
            <th>Select</th>
          </tr>
        </thead>
        <tbody>
        {% for team in teams %}
        {% with key=team.gender|add:"-"|add:team.division %}
          <tr>
            <td>{{ team.name }}</td>

            <td>{{ team.gender }}</td>
            <td>{{ team.division }}</td>
            <td>{{ team.sport }}</td>
            <td>
              {% if team in registered_teams %}
              <img src="/assets/icons/check-mark.svg" class="inline-icon">
              <a hre="#" class="inline-icon__link ml-1">
                <img src="/assets/icons/magnifying-glass.svg" class="inline-icon">
              </a>
              {% else %}
                {% if key in event_division_keys %}
                  <input type="checkbox" name="team{{ team.id }}"></input>
                {% else %}
                  Unavailable
                {% endif %}
              {% endif %}
            </td>
          </tr>
          {% endwith %}
        {% endfor %}

        </tbody>
      </table>

      <button type=submit>Register Teams</button>

  </form>
  {% else %}

  <p>You are missing profile contact information and can not register for events.</p>

  <div class="action-link__container">
    <a href="{% url 'user:profile_update' %}?next={{ request.path }}" class="action-link">Add Contact Info</a></br>
  </div>

  {% endif %}
</section>


{% endblock %}
