{% extends "app/base.html" %}

{% block content %}
<section class="main-section">

  <h1>Create a Team</h1>

  <div class="paragraph">
    <span class="paragraph__heading">Creating A Team Is Simple</span>
    <hr>
    <p>
      this is a paragraph
      this is a paragraph
      this is a paragraph
      this is a paragraph
      this is a paragraph
    </p>
  </div>

</section>

<section class="main-section">
  <form method="post" class="form">
    <h2>Team Form</h2>
    {% csrf_token %}
    <table class="form-as-table">
      <input type="hidden" name="next" value="{{ request.GET.next }}">
      {{ form.as_table }}
    </table>
    <button type="submit">Create Team</button>
  </form>
</section>
{% endblock %}
